<html>
  <head>

    <base href="<%= options[:root_path] %>">
    <link rel="stylesheet" href="assets/deep_cover.css" type="text/css">
  <body>
    <div class="source">
      <code><%= convert %></code>
    </div>
  </body>
</html>
